{% extends 'rigwell/base_rig.html' %}
{% block title %}THK Manager{% endblock %}
{% block body %}

<style>

html, body{
  background: url("/static/images/rig.jpg") no-repeat center center fixed;
  background-size:cover;
}

#form {
  border-radius: 5px;
  max-width:600px;
  width:auto;
  height:auto;
  margin-top: 4%;
  margin-bottom: 2% auto;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
}

#form:hover {

}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 50px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  height: 42px;
  opacity:0.95;
  float: middle;
  padding: 0px 15px;
  color:black;
  text-align:left;
}

.icon-case {
  width: 10%;
  float: left;
  border-radius: 50px 0px 0px 50px;
  background:green;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:yellow;
}

.form-group {
  overflow: hidden;
  width:100%;
}

.contentform {
  padding: 30px;
  float:middle;
  margin:auto;
}


.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  <!--border-right: 1px dotted #CCC;-->
  box-sizing: border-box;
  padding: 0px;
}

.bouton-update{
  background-color: #0280d2;
  color: #FFF;
  text-align: center;
  border:0;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

</style>

<script>
	history.pushState(null, null, location.href);
    history.back();
    history.forward();
    window.onpopstate = function () { history.go(1); };
</script>

<meta name="google-signin-client_id" content="362324374465-cflt9jng2mugsni7psu7jvgu7ks596ih.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback" async defer></script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<img src="/static/images/progressbar.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle; border-radius: 1px;
	transform:translate(-50%, -50%); width:80px; z-index:100; top:120px; display: none;" id="gif">

<form id="form" action="/ralogin" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="contentform">
		<div class="formcontent">
            <center>
                <img src="/static/images/rig_logo.jpg" style="width:150px; border-radius:30px;">
                <div style="font-size:50px; color:white; font-family:verdana; font-weight:800; margin-top:30px;">THK</div>
                <label style="color:white; margin-top:10px; font-size:16px;">Manager</label>
            </center>
            <input hidden name="Hafiz Kurnia" id="name">
            <input hidden name="hafiz.kurnia92@gmail.com" id="email">
			<div class="form-group" style="margin-top:30px;">
                <center>
                    <button class="bouton-update" type="submit" style="width:80%; height:48px; text-align:center;">
                        <img src="/static/images/google.png" style="height:30px; width: auto;"><label style="margin-left:20px;">Login with Google</label>
                    </button>
                    <!--<button class="bouton-update" type="button" style="width:80%; height:48px; text-align:center;" id="googleSignIn">-->
                    <!--    <img src="/static/images/google.png" style="height:30px; width: auto;"><label style="margin-left:20px;">Login with Google</label>-->
                    <!--</button>-->
                </center>
			</div>
	    </div>
	</div>
</form>

<script>

    function onLoadGoogleCallback(){
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '362324374465-cflt9jng2mugsni7psu7jvgu7ks596ih.apps.googleusercontent.com',
          cookiepolicy: 'single_host_origin',
          scope: 'profile'
        });

      auth2.attachClickHandler(element, {},
        function(googleUser) {
            console.log('Signed in: ' + googleUser.getBasicProfile().getName());
            document.getElementById("name").value = googleUser.getBasicProfile().getName();
            document.getElementById("email").value = googleUser.getBasicProfile().getEmail();
            document.getElementById("form").submit();
            // post('/loginAdmin', {name:googleUser.getBasicProfile().getName(), email:googleUser.getBasicProfile().getEmail(), photo:googleUser.getBasicProfile().getImageUrl()});
            // signOut();
          }, function(error) {
            console.log('Sign-in error', error);
          }
        );
      });

      element = document.getElementById('googleSignIn');
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

</script>

<script>

function getCookie(name) {
    console.log('getCookie');
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                    }
            }
    }
    console.log('cookie:' + cookieValue);
    return cookieValue;
}

function post(path, params, method) {
   method = method || "post"; // Set method to post by default if not specified.

   // The rest of this code assumes you are not using a library.
   // It can be made less wordy if you use one.
   var form = document.createElement("form");
   form.setAttribute("method", method);
   form.setAttribute("action", path);

   for(var key in params) {
      if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
      }
   }

   var hiddenField1 = document.createElement("input");
   hiddenField1.setAttribute("type", "hidden");
   hiddenField1.setAttribute("name", 'csrfmiddlewaretoken');
   hiddenField1.setAttribute("value", getCookie('csrftoken'));
   form.appendChild(hiddenField1);

   document.body.appendChild(form);
   form.submit();
}

</script>

{% endblock %}














