{% extends 'rigschedule/base.html' %}
{% block title %}RigSchedule Manager{% endblock %}
{% block body %}

<style>

html, body{
  background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/static/images/rs/rs1.jpg") no-repeat center center fixed;
  background-size:cover;
}

#form {
  border-radius: 5px;
  max-width:450px;
  width:auto;
  height:auto;
  margin-top: 3%;
  margin-bottom: 2% auto;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
}

.site-name {
    font-size:35px; color:white; font-weight:800; margin-top:10px; font-family:sansation_bold;
}

.user-type {
    color:white; margin-top:10px; font-size:20px; font-family:sansation;
}

.fp-btn {
    margin-bottom:6%; margin-top:3%; margin-left:auto; font-size:18px; color:#fff; padding:10px 20px 10px 10px; font-family:sansation;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 50px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 100%;
  height: 42px;
  opacity:0.95;
  float: middle;
  padding: 0px 15px;
  color:black;
  text-align:left;
}

.icon-case {
  width: 10%;
  float: left;
  border-radius: 50px 0px 0px 50px;
  background:green;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:yellow;
}

.form-group {
  overflow: hidden;
  width:100%;
}

.contentform {
  padding: 30px;
  float:middle;
  margin:auto;
}


.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  <!--border-right: 1px dotted #CCC;-->
  box-sizing: border-box;
  padding: 0px;
}

.bouton-update{
  background-color: #0077b3;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  opacity:0.95;
  padding: 12px 18px;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  font-size: 16px;
}

</style>

<script>
	history.pushState(null, null, location.href);
    history.back();
    history.forward();
    window.onpopstate = function () { history.go(1); };
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if notify %}
<script>alert("{{notify}}");</script>
{% endif %}

<form id="form" action="/rigschedule/alogin" method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="contentform">
		<div class="formcontent">
            <div class="form-group">
                <center>
                    <img src="/static/images/rs/rslogo.png" style="width:150px; border-radius:30px;">
                    <div class="site-name">RIG SCHEDULE</div>
                    <label class="user-type">Administrator</label>
                </center>
            </div>
            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="E-mail">
			</div>
			<div class="form-group" style="margin-top:20px;">
				<input type="password" name="password" id="password" autocomplete="new-password" placeholder="Password">
			</div>
			<center><img src="/static/images/progressbar.gif" style="width:40px; height:40px; display:none;" id="gif"></center>
			<div class="form-group" style="margin-top:30px;">
				<button type="button" class="bouton-update" onclick="formSubmit(document.getElementById('form'));">LOG IN</button>
            </div>
            <a href="/rigschedule/atoforgotpassword" style="width:100%; text-align:center; color:white;">
                <div class="fp-btn">Forgot Password</div>
            </a>
	    </div>
	</div>
</form>

<script>

function formSubmit(form){
    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;
    var gif = document.getElementById("gif");
    if(email == "") {
        showAlert("Email is invalid", "Please enter your email.");
        return;
    }
    if(!isValidEmail(email)){
        showAlert("Invalid email!", "Please enter your valid email.");
        return;
    }
    if(password == "") {
        showAlert("Password is invalid!", "Please enter your password.");
        return;
    }

    gif.style.display = "block";
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var result = xhr.response;
            if(result == "0") {
                window.location.href = "/rigschedule/ahome";
            }else if(result == "1") {
                showAlert("Incorrect password!", "Please enter your correct password.");
            }else if(result == "2") {
                showAlert("Login failed!", "You don't have any permission to access this site.");
            }
            gif.style.display = "none";
        }
    };
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
}

function isValidEmail(email) {
    const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}

function showAlert(title, text) {
    swal({
        title: title,
        text: text,
        icon: "warning"
    });
}

</script>

{% endblock %}






























































